@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

html {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F7F7F5;
    /* overflow: hidden; */
}

span {
    display: inline-block;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.pointer {
    cursor: pointer;
}

button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    &.to-home {
        margin-top: 10px;
        padding: 10px 32px;
        border-radius: 8px;

        &:hover {
            background: #feb941;
            color: #594c45;
        }
    }

    &.to-index {
        border: none;
        padding: 15px 28px;
        display: inline-block;

        &:hover {
            background: #e8ecf4;
            color: #bd302c;
        }
    }

}

/* // Semantics */
section {

    &.to-home {
        border-radius: 10px;
        background-color: rgb(242, 242, 242, .5);
        padding: 20px;
        width: 50%;
        text-align: center;
        margin: 50px auto;
        width: 50%;
    }

    &.quote {
        margin: 10% 15% 0 15%;
        font-size: 25px;
        font-style: italic;
        text-align: center;

        #author {
            font-weight: bold;
        }
    }

    &.tabs {
        margin: 0 auto;
        width: 80%;
        height: 100%;

        .tabs-header {
            background-color: hsl(24, 53%, 69%);
            font-size: 0;
        }

        .tabs-button {
            border: none;
            background-color: inherit;
            padding: 15px 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;

            &:hover {
                background: #feb941;
                color: #f1f1f1;
            }

            &.tabs-open {
                background: #b07254;
                color: #f1f1f1;
            }
        }
    }
}

aside {
    position: absolute;
    bottom: 6%;
    right: 4px;
    width: 23%;
    padding: 15px;
    background-color: rgba(159, 161, 168, 0.2);
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;

    & span {
        color: #ffffff;
        font-size: 16px;
        margin: 0;

        a {
            text-decoration: none;
            &:hover {
                color: #feb941;
            }
        }
    }
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li.right {
            float: right;
        }

        li.left {
            float: left;
        }
    }
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}