button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    &.to-home {
        margin-top: 10px;
        padding: 10px 32px;
        border-radius: 8px;

        &:hover {
            background: #feb941;
            color: #594c45;
        }
    }

    &.to-index {
        border: none;
        padding: 14px 28px;
        display: inline-block;

        &:hover {
            background: #e8ecf4;
            color: #bd302c;
        }
    }

}

/* // ? Semantics */
section {

    &.to-home {
        border-radius: 10px;
        background-color: rgb(242, 242, 242, .5);
        padding: 20px;
        width: 50%;
        text-align: center;
        margin: 50px auto;
        width: 50%;
    }

    &.quote {
        margin: 10% 15% 0 15%;
        font-size: 25px;
        font-style: italic;
        text-align: center;

        #author {
            font-weight: bold;
        }
    }

    &.tabs {
        margin: 0 auto;
        width: 80%;
        height: 100%;

        .tabs-header {
            background-color: hsl(24, 53%, 69%);
            font-size: 0;
        }

        .tabs-button {
            border: none;
            background-color: inherit;
            padding: 15px 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;

            &:hover {
                background: #feb941;
                color: #f1f1f1;
            }

            &.tabs-open {
                background: #b07254;
                color: #f1f1f1;
            }
        }
    }
}

aside {
    position: absolute;
    bottom: 6%;
    right: 4px;
    width: 23%;
    padding: 15px;
    background-color: rgba(159, 161, 168, 0.2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 35px;

    & span {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

/* // ? For Navigation Bar */
nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li.right {
            float: right;
        }
    }
}

/* // ? Elements */
textarea {
    margin-top: 10px;
    width: 80%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    margin: 50px auto;
    width: 80%;
}

iframe {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;

    &:hover {
        color: #feb941;
    }
}