<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/style/style.css">
    <title>Dashboard</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li class="left">
                    <span>Hello </span>
                    <strong><span id="target"></span></strong>
                </li>
                <li class="right"><button onclick="home()" class="dashboard">Home</button></li>
            </ul>
        </nav>
    </header>

    <main>

        <section>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2" style="width: 80%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="6">
                            <img src="../public/img/placeholder.jpg" alt="image" width="100%">
                        </td>
                        <td colspan="2">
                            <h3 style="margin: 0;">Basic Information</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%;"><span class="text-strong">Name:</span></td>
                        <td>
                            Marla Santos
                        </td>
                    </tr>

                    <tr>
                        <td><span class="text-strong">Birthday:</span></td>
                        <td>July 04</td>
                    </tr>
                    <tr>
                        <td><span class="text-strong">Gender:</span></td>
                        <td>Female</td>
                    </tr>
                    <tr>
                        <td><span class="text-strong">Contact No.:</span></td>
                        <td>#00000</td>
                    </tr>
                    <tr>
                        <td><span class="text-strong">Email Address:</span></td>
                        <td>@mail.com</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="tabs">
            <div class="tabs-header">
                <button class="tabs-button" onclick="openTab('hobby')">Hobbies</button>
                <button class="tabs-button" onclick="openTab('skill')">Skills</button>
            </div>

            <div id="hobby" class="tab">
                <iframe src="./tabs/hobby.html" frameborder="0"></iframe>
            </div>

            <div id="skill" class="tab" style="display:none;">
                <iframe src="./tabs/skill.html" frameborder="0"></iframe>
            </div>
        </section>
    </main>

    <aside>
        <span>Welcome to my Page.</span>
    </aside>

    <footer>
        <p>&copy;2024 OCCPHT07. All rights reserved.</p>
    </footer>
</body>

<script language="javascript" type="text/javascript" src="../public/js/misc.js"></script>
<style>
    html {
        background-image: url("https://static.vecteezy.com/system/resources/previews/007/629/858/original/pastel-watercolor-cloud-background-free-vector.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #F7F7F5;
    }
</style>

</html>