<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- // Styles -->
    <link rel="stylesheet" type="text/css" href="../public/style/style.css">
    <link rel="stylesheet" type="text/css" href="../public/style/general.css">

    <!-- // Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        html {
            background-image: url("https://static.vecteezy.com/system/resources/previews/007/629/858/original/pastel-watercolor-cloud-background-free-vector.jpg");
        }
    </style>

    <link rel="icon"
        href="https://png.pngtree.com/png-clipart/20220626/original/pngtree-pink-cute-cat-icon-animal-png-yuri-png-image_8188672.png"
        type="image/x-icon" />
    <title>Home</title>
</head>

<body>

    <header>
        <nav class="bg-primary">
            <ul>
                <li class="right">
                    <button onclick="index()" class="to-index bg-danger">
                        <i class="fa fa-power-off" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </header>

    <br />

    <main>
        <section>
            <div class="basic-info flex-container text-primary pt-4">
                <div class="flex-item flex-basic1 text-center">
                    <img src="../public/img/placeholder.jpg" alt="image" width="90%">
                </div>

                <div class="flex-item flex-basic2">
                    <h2 class="text-dark pl-2 bold">
                        Basic Information
                    </h2>

                    <hr class="mx-2">

                    <div class="name mb-1 mt-3">
                        <i class="fa fa-address-card text-primary ml-2 mr-1" aria-hidden="true"></i>
                        <span class="bold">Name:</span>
                        <span class="ml-1">Marla Santos</span>
                    </div>

                    <div class="birthday mb-1">
                        <i class="fa fa-birthday-cake text-primary ml-2 mr-1" aria-hidden="true"></i>
                        <span class="bold">Birthday:</span>
                        <span class="ml-1">July 04</span>
                    </div>

                    <div class="gender mb-1">
                        <i class="fa fa-female text-primary mx-2" aria-hidden="true"></i>
                        <span class="bold">Gender:</span>
                        <span class="ml-1">Female</span>
                    </div>

                    <div class="contact mb-1">
                        <i class="fa fa-phone text-primary mx-2" aria-hidden="true"></i>
                        <span class="bold">Number:</span>
                        <span class="ml-1">+63112233445</span>
                    </div>

                    <div class="email mb-1">
                        <i class="fa fa-envelope text-primary ml-2 mr-1" aria-hidden="true"></i>
                        <span class="bold">Email:</span>
                        <span class="ml-1">mail@gmail.com</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="tabs">
            <div class="tabs-header">
                <button id="hobby-tab" class="tabs-button text-primary tabs-open"
                    onclick="openTab('hobby')">Hobbies</button>
                <button id="skill-tab" class="tabs-button text-primary" onclick="openTab('skill')">Skills</button>
            </div>

            <div id="hobby" class="div show">
                <ul type="square" class="text-primary">
                    <li>Reading Light Novels</li>
                    <li>Playing Keyboard</li>
                </ul>
            </div>

            <div id="skill" class="div hidden pb-4">
                <div class="flex-container text-primary">
                    <div class="flex-item flex-item1">
                        <ul type="square">
                            <li>PHP</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                        </ul>
                    </div>
                    <div class="flex-item flex-item2">
                        <ul type="square">
                            <li>Frameworks:
                                <ol>
                                    <li>Laravel</li>
                                    <li>Yii2</li>
                                    <li>VueJs</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-item flex-item3">
                        <ul type="square">
                            <li>DBMS:</li>
                            <ol>
                                <li>MySQL</li>
                                <li>Maria DB</li>
                            </ol>
                        </ul>
                    </div>
                    <div class="flex-item flex-item4">
                        <ul type="square">
                            <li>Version Control System:
                                <ol>
                                    <li>GitHub</li>
                                    <li>GitLab</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <aside class="italic">
        <span class="text-primary">Hello </span>
        <span class="bold text-dark" id="target"></span>
        <span class="text-primary">Welcome to my Page.</span>
    </aside>

    <footer class="bg-secondary text-light-gray">
        <span>
            <a href="https://github.com/rLaSantos" class="fa fa-github fa-lg text-light-gray" target="_blank"></a>
            &emsp13;
            <a href="https://linkedin.com/in/marlasantos473" class="fa fa-linkedin-square fa-lg text-light-gray"
                target="_blank"></a>
        </span>
    </footer>
</body>

<!-- // JS Links -->
<script language="javascript" type="text/javascript" src="../public/js/misc.js"></script>

</html>