<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/style/style.css">
    <title>Skill</title>
</head>

<body>
    <h2 style="margin-bottom: 0;">Skills</h2>

    <table style="margin: 0;">
        <tbody>
            <tr>
                <td>
                    <ul type="square">
                        <li>PHP</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                    </ul>
                </td>
                <td>
                    <ul type="square">
                        <li>DBMS:</li>
                        <ol>
                            <li>MySQL</li>
                            <li>Maria DB</li>
                            <li></li>
                        </ol>
                    </ul>
                </td>
                <td>
                    <ul type="square">
                        <li>Frameworks:
                            <ol>
                                <li>Laravel</li>
                                <li>Yii2</li>
                                <li>VueJs</li>
                            </ol>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul type="square">
                        <li>Version Control System:
                            <ol>
                                <li>GitHub</li>
                                <li>GitLab</li>
                                <li></li>
                            </ol>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>